.sticker{
    /*padding: 10px;*/
    border: 1px solid #aaa;
    display: flex;
    position: absolute;
    background: #222;
    color: #fff;

    flex-direction: column;
    justify-content: stretch;
    box-shadow: -9px 9px 21px rgba(0,0,0,0.3);

    &.react-draggable-dragging {
        .header{
            input {
                pointer-events:none;
            }
        }
        .body {
            textarea{
                pointer-events:none;
            }
        }
    }

    .header{
        border-bottom: 1px solid #bbb;
        margin-bottom: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        input {
            background: #00000008;
            display: block;
            border: none;
            padding: 3px;
            width: 100%;
            font-size: 20px;
        }
        .header-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .drag-handle {
                align-self: center;
                width: 50%;
                height: 30px;
                /*background: url("push-pin.svg");*/
                background: rgba(1, 1, 1, .1);
                cursor: crosshair;
            }
            .delete {
                width: 30px;
                height: 30px;
                cursor: pointer;
                background: url("./trash.svg");
                &:hover {
                    transform: scale(.9);
                    transition: 1s;
                }
            }
        }
        .sticker-title {}
    }
    .body{
        flex-grow: 1;
        display: flex;
        textarea{
            flex-grow: 1;
            background: #00000008;
            border: none;
            font-style: italic;
        }
    }
}
